<% if @post.vbReadUrl %>
    <audio controls>
      <source src="<%= @post.vbReadUrl%>" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <iframe src="<%= @post.url %>" width="100%" height="800">
<% else %>
    <h1> Pending Cast</h1>
    <p><b>URL</b> @link.title</p>
<% end %>

